<h1>New Landmark</h1>

<!-- form goes here -->
<form action="/landmarks" method="POST">
  Name:<br>
  <input type = "text" name = "landmark[name]"><br>
  Year Completed:<br>
  <input type = "text" name = "landmark[year_completed]"><br>
  <br>
  Figure:
  <select name="landmark[figure_id]">
    <% @figures.each do |figure| %>
      <option value="<%=figure.id%>"><%=figure.name%></option>
    <% end %>
  </select>
  <input type = "submit" value="Submit"><br>
</form>
